<!--/* 
	Information transmise par le contrôleur :
	- ville : la ville à editer
    -countrys : la liste des pays
*/-->
<h1>Ajouter une ville</h1>
<!--/* Au revient au contrôleur, avec la méthode POST */-->
<form method="post" action="save">
    <div class="column">
        <!--/* th:field définit quel champ de l'objet est édité par cette zone de saisie */-->
        <label for="id">Identifiant:</label>
        <input type="text" name="id" {{#city.id}} value="{{city.id}}" {{/city.id}} readonly="readonly"
            placeholder="auto-généré, nom modifiable" />
        <input type="submit" value="Enregistrer" /> <input type="reset" value="Réinitialiser" />
    </div>
    <div class="column">
        <label for="name">Nom:</label>
        <input type="text" name="name" {{#City.name}} value="{{City.name}}" {{/City.name}}
            placeholder="Nom de la ville" />
    </div>
    <div class="column">
        <label for="population">Population:</label>
        <input type="text" name="population" {{#City.population}} value="{{City.population}}" {{/City.population}}
            placeholder="Nombre d'habitant de la ville" />
    </div>
    <div class="column">
        <label for="country">Choisissez le pays</label>
        <!--/* Une liste de choix pour le paramètre 'country' -->
        <select name='country' {{#City.country}} value="{{City.country}}" {{/City.country}}>
            <option selected="true" disabled="disabled">Choisissez un Pays</option>
            {{#countrys}}
            <option value="{{id}}">{{name}}</option>
            {{/countrys}}
        </select>
    </div>
</form>